.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo img {
    height: 50px;
  }
  
  .nav__menu__btn {
    display: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav__links a {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .nav__links {
      flex-direction: column;
      display: none;
    }
  
    .nav__menu__btn {
      display: block;
    }
  }